/* styles */

body {
    text-align: center;
}

h1 {
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    border-collapse: collapse;
    margin-top: 0.5em;
}

table {
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    border: 1px solid black;
}

#in-vert-pix,
#in-hori-pix {
    width: 6em;
}